<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% rows.forEach(function(r) { %>
        <li>Id:<%= r.id %>, Name: <%= r.name %>, Last Name: <%= r.last_name %>, Age: <%= r.age %>,Height: <%= r.height %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
